/*//META{"name":"Ugly As Fuck","description":"Its Fucking Ugly. Fully customizable through the theme file.","author":"Tropical","version":"1.7x", "website":"https://bit.ly/derealised", "source":"https://github.com/Arizse/ugly-as-fuck/blob/master/changes/css/base.css"}*//**/
/*
                       88              
                        88              
                        88              
88       88  ,adPPYb,d8 88 8b       d8  
88       88 a8"    `Y88 88 `8b     d8'  
88       88 8b       88 88  `8b   d8'   
"8a,   ,a88 "8a,   ,d88 88   `8b,d8'    
 `"YbbdP'Y8  `"YbbdP"Y8 88     Y88'     
             aa,    ,88        d8'      
              "Y8bbdP"        d8'       
                                                   
            88                                     
            ""                                     
                                                   
8b,dPPYba,  88  ,adPPYb,d8  ,adPPYb,d8 ,adPPYYba,  
88P'   `"8a 88 a8"    `Y88 a8"    `Y88 ""     `Y8  
88       88 88 8b       88 8b       88 ,adPPPPP88  
88       88 88 "8a,   ,d88 "8a,   ,d88 88,    ,88  
88       88 88  `"YbbdP"Y8  `"YbbdP"Y8 `"8bbdP"Y8  
                aa,    ,88  aa,    ,88             
                 "Y8bbdP"    "Y8bbdP"    
/Import Base CSS File*/
@import url('https://arizse.github.io/ugly-as-fuck/changes/css/base.css');
/*Root*/
:root {
/*Primary Variables*/
  --lv1:#00000f;
  --accent:#1973d3;
  --hover:#135193;
  --bg:url('https://i.imgur.com/GdnbuVj.jpg');
  --lvl-bg-opacity:0.25;
  --lvl-bg-fade:80%;

/*Status Variables*/
  --online: #43b581;
  --idle: #faa61a;
  --dnd: #f04747;
  --offline: #636b75;
  --invisible: #747f8d;
  --streaming: #643da7;

/*Other Variables*/
  --BetterDocsBlockerBlack1:var(--lv1);
}
